<footer>
    <section class="container">
        <div class="content">

            <div id="logo">
                <div id="logotype">
                    <p>ClickTik</p>
                </div>

                <div class="logomark">
                    <div id="content">
                        <div id="blur">
                        </div>
                        <div class="dot">
                        </div>
                        <div id="grid">
                        </div>
                    </div>
                </div>
            </div>

            <ul class="navigation">
                <li>
                    <a href="/home"></a>
                </li>
            </ul>

       
        </div>
        <div class="navigation-action">
            <a href="/login">© 2022 ClickTik</a>
        </div>
    </section>

</footer>


