.product-card {

  background-color: blue;
  height: 472px;
  width: 258px;
  margin: 0.5rem;
  border-radius: 5px;
  background: #FFFFFF;

  transition: all 0.6s;
cursor: pointer;
  .product-img {
    height: 224px;
    width: 226px;
    background-color: #FFFFFF;
    border-radius: 5px;
    position: relative;
    margin: auto;
    padding: 10px;
    img {
      width: 226px;
      border-radius: 5px;
      height: 100%;
    }

    .discount-badge {
      width: 71px;
      height: 23px;
      background: #56d9d9e8;
      border-radius: 4px;
      font-family: "Inter";
      font-style: normal;
      font-weight: 700;

      text-align: center;
      color: #344054;
      position: absolute;
      top: 7%;
      left: 7%;
    }
  }

  .product-info {
    padding: 0 1rem;

    h4 {
      height: 30px;
      font-size: 20px;
      font-weight: 700;
      line-height: 24px;
      color: #19191D;
      margin: 1rem 0 0;

      span {
        color: #19191D;
      }
    }

    >p {
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      min-height: 74px;
      max-height: 74px;
      color: #344054;
    }

    p.description {

      margin-top: 0px;
      min-height: 41px;
      max-height: 41px;
    }

    .price {
      margin: 1.7rem 0 0 0;

      .before {
        text-decoration: line-through;
        margin: 0 10px 0 0;
      }

      strong {
        color: #344054;
      }
    }

    .brand {
      margin: 14px 0;

      strong {
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;

        color: #344054;
      }

      p {
        margin: 5px 0;
      }
    }

    button {
      width: 90px;
      height: 32px;
      background: #FFFFFF;
      border: 1px solid #9DC2FF;
      color: #2264D1;
      border-radius: 4px;
      box-sizing: border-box;
      font-weight: 600;
      font-size: 16px;
      line-height: 22px;
      /* identical to box height */
      text-align: center;
      text-transform: uppercase;
      cursor: pointer;
    }

    .fa-heart{
      color: #2264D1;
    }
  }
}
.product-card:hover{
  transform: scale(1.05);

  box-shadow: 0px 2px 15px rgba(59, 69, 123, 0.2), 0px 4px 8px rgba(92, 107, 192, 0.2);
border-radius: 8px;
}
.wish-list-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rate {
  .fas {
    color: #FB8200;
  }
}